.checkbox {
	margin: 0px;
}

.checkbox > label {
	margin: 0px;
	display: inline;
}

.hidden {
	display: none;
}

.show {
	color: #007bff;
}

.search-box input[type=text]{
	/* width: 50%; */
  /* padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  transition: width 0.4s ease-in-out;
  background-color: #f8f8f8; */
}

.search-box input[type=text]:focus {
	/* width: 60%; */
  }

.search-box .btn{
	/* height: 80%; */
}

#paper-list{
	/* padding-left: 70%; */
}
