<div class="container-fluid">

	<div class="row search-box text-center">
		<div class="col-12">
				<input type="text" [(ngModel)]="search" (ngModelChange)="searchFor()" placeholder="search ...">
				<button class="btn btn-dark" (click)="clear()">Clear</button>
		</div>
	</div>
<div class="row">
	
	<div class="col-3">
	
		<div *ngFor="let code of codes">
			<strong *ngIf="getName(code)">{{getName(code)}}</strong>
			<div *ngFor="let c of clusters[code]; let i=index">
					<div *ngIf="counts[c] && getName(c)" class="checkbox" [ngClass]="{'hidden': i > 10 && hidden[code]}">
						<input type="checkbox" [(ngModel)]="checked[code][c]" (ngModelChange)="check()" [name]="c" [id]="c"> <label [for]="c">{{getName(c)}} ({{counts[c]}})</label>
					</div>
					<div *ngIf="i == 10">
						<span class="show" (click)="toggleHide(code)">{{hidden[code] === true ? "> Show more" : "V Hide more"}}</span>
					</div>
			</div>
		</div>
	</div>
	<div class="col-9">
		<strong>{{paperList.length}} matching papers</strong>
		<app-paper *ngFor="let paper of paperList" [id]=paper></app-paper>
	</div>
</div>

</div>