.logo{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 55px;
}

.logo img{
    width: 100%;
}

.navbar
.navbar-light
.bg-light{
    background-color: white;
}

#nav-btns{
    /* margin-right: 0; */
    padding-top: 5rem;
    padding-bottom: 1rem;
    padding-left: 50%;
    padding-right: 0%;
    /* justify-content: right;
    float: right;
    text-align: right;
    display: block; */

    /* display: inline-block; */
}

#nav-btns button{
    margin-right: 5px;
    /* justify-content: right;
    position: absolute; */

    float: right;
}