<div class="container">
	<div style="text-align:left">
		<nav class="nav">
			<a class="nav-link" href="#">  <h1 class="logo">
				Peper Browser
			</h1>
			</a>
			<div id="nav-btns">
			<button class="btn btn-sm btn-light" type="button">Add Articles</button>
			<button class="btn btn-sm btn-light" type="button">Contact Us</button>
			<button class="btn btn-sm btn-light" type="button">About Us</button>
		</div>
		  </nav>
	
	  <!-- <img src="./logo0.png"> -->

	</div>

	<router-outlet></router-outlet>
</div>